h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6

body > *
	font-family: $ff-base
	font-size: 16px

h1 
	font-style: 28px
	font-weight: bold 
	color: $white
	margin-bottom: 12px
	@include bp(1280, min)
		font-size: 82px

h2 
	font-size: 18px
	font-weight: 500
	letter-spacing: -.02em
	line-height: 1.2
	@include bp(1280, min)
		font-size: 48px
		
h3 
	font-weight: 400
	font-size: 18px
	color: $black
	line-height: 1.2
	letter-spacing: -.05em
	@include bp(1280, min)
		font-size: 36px	

h4 
	font-size: 16px 
	font-weight: 700
	color: $black
	@include bp(1280, min)
		font-size: 22px

h5
	font-size: 14px 
	font-weight: 600
	color: $black
	@include bp(1280, min)
		font-size: 18px


p
	margin-bottom: 15px

input, textarea, button
	font-family: $ff-base
