$white:              #fff
$black:              #000000
$light-black:        #595F6F
$gray:               #BFBFBF
$orange:             #FF7000


$ff-base:  'AvenirNext',Arial, sans-serif
//$font-family-heading:
$font-size:           14px

//fonts weight
$fwExtraBold:         800
$fwBold:              700
$fwSemiBold:          600
$fwMedium:            500
$fwRegular:           400
$fwLight:             300

//fonts style
$fsItalic:            italic

