.cloud-section
	display: flex
	justify-content: space-between
	align-items: center
	padding-top: 69px
	padding-bottom: 70px
	color: $light-black
	@include bp(1280, min)
		padding-bottom: 85px

	h1
		color: $black
		margin-bottom: 10px

	.col
		&:first-of-type
			flex: 0 0 40%
			@include bp(1280, min)
				flex: 0 0 56%

		&:last-of-type
			flex-grow: 1
			padding-left: 20px
			display: flex
			justify-content: center
			max-width: max-content

			img
				object-fit: contain
				object-position: center

	.text
		@include bp(1280, min)
			margin-bottom: 122px
		p
			text-overflow: ellipsis
			display: -webkit-box
			-webkit-line-clamp: 6
			-webkit-box-orient: vertical
			overflow: hidden
			@include bp(1280, min)
				text-overflow: none
				overflow: visible

	.buttons-holder
		@include bp(1280, min)
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			max-width: 459px
			align-items: center

		.btn-primary
			margin-bottom: 20px
			@include bp(1280, min)
				margin-bottom: 0

.text-section
	text-align: center
	max-width: 700px 
	margin: 0 auto
	padding: 0 20px 56px
	color: $gray
	font-weight: 400
	@include bp(1280, min)
		font-size: 16px	

	h2 
		color: $black
		font-weight: bold
		@include bp(1280, min)
			font-size: 62px
			margin-bottom: 15px

.choose-package
	padding-bottom: 42px
	@include bp(1280, min)
		padding-bottom: 142px

	.head 
		color: $gray
		max-width: 700px 
		text-align: center
		margin: 0 auto
		margin-bottom: 30px
		@include bp(1280, min)
			margin-bottom: 74px
		h2 
			color: $black
			font-weight: bold
			font-size: 27px
			@include bp(1280, min)
				font-size: 62px
				margin-bottom: 15px

	.package-row 
		max-width: max-content
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		margin: 0 auto

	.package-item
		box-shadow: 0 20px 40px -17px rgba(0,0,0,0.10)
		border-radius: 45px
		padding: 78px 29px
		min-width: 293px
		margin: 0 15px
		text-align: center
		z-index: 1
		position: relative
		margin-bottom: 30px
		border: 2px solid $white
		transition: border-color .3s ease

		&:hover
			border-color: $orange

		h2 
			font-size: 36px
			margin-bottom: 21px

		.list
			padding-top: 25px
			position: relative

			&:before 
				content: ''
				position: absolute
				top: 0
				left: 50%
				transform: translateX(-50%)
				height: 5px
				background: #979797
				border-radius: 5px
				width: 50px 

		.list-item 
			color: #454545;
			&:not(:last-of-type)
				margin-bottom: 17px

.products-section
	padding-bottom: 100px
	@include bp(1280, min)
		padding-bottom: 182px

	.head 
		color: $gray
		max-width: 700px 
		text-align: center
		margin: 0 auto
		margin-bottom: 30px
		@include bp(1280, min)
			margin-bottom: 74px
		h2 
			color: $black
			font-weight: bold
			font-size: 27px
			@include bp(1280, min)
				font-size: 62px
				margin-bottom: 15px

	.product-row
		display: flex
		flex-wrap: wrap 
		justify-content: center
		margin: 0 -10px
		@include bp(1280, min)
			justify-content: space-between

		.product-item
			border-radius: 5px
			overflow: hidden
			position: relative
			margin: 0 10px 25px
			width: 321px
			@include bp(1280, min)
				flex:  0 0 calc(25% - 21px)
				margin: 0

			img 
				object-fit: cover
				object-position: center
				max-width: none
				width: 100%
				height: 100%

			.text-item 
				position: absolute
				bottom: 0
				left: 0
				right: 0
				background-color: rgba(0,0,0, .3)
				padding: 34px 44px
				color: $white
				@include bp(1280, min)
					opacity: 0
					transition: opacity .3s ease


				h5 
					font-size: 18px
					color: $white
					margin-bottom: 24px
			&:hover 
				.text-item 
					opacity: 1

.faq-section
	padding-bottom: 68px
	@include bp(1280, min)
		padding-bottom: 90px

	h2 
		color: $black
		font-size: 27px
		margin-bottom: 30px
		font-weight: bold
		text-align: center
		@include bp(1280, min)
			font-size: 62px
			margin-bottom: 119px

	.faq-accordion 
		max-width: 570px
		margin: 0 auto
		@include bp(1280, min)
			max-width: 1200px
			display: flex 
			justify-content: space-between
			flex-wrap: wrap
			align-items: flex-start

	.accordion-item 
		border: 1px solid $gray 
		border-radius: 6px
		transition: bacground .5s ease
		margin-bottom: 20px
		@include bp(1280, min)
			width: 570px	
		&.active 
			background: #FC916F
			color: $white

	.accordion-panel 
		padding: 20px 26px
		font-size: 16px
		position: relative
		padding-right: 10px
		cursor: pointer
		&:before 
			content: ''
			position: absolute
			z-index: 1
			right: 26px
			top: 25px
			border-top: 5px solid transparent
			border-bottom: 5px solid transparent
			border-left: 5px solid $black
			transition: all .5s ease

		&.active
			&:before
				border-left: 5px solid $white
				transform: rotate(90deg)

	.accordion-content 
		padding: 16px 26px
		font-size: 14px

.about-section
	padding-bottom: 48px

	.slider-about
		position: relative
		max-width: 600px
		margin: 0 auto
		margin-bottom: 129px
		@include bp(1280, min)
			max-width: none 


		.swiper-slide
			display: flex
			flex-direction: column 
			@include bp(1280, min)
				flex-direction: row
				align-items: center

		.img-holder
			overflow: hidden
			border-radius: 50%
			width: 245px
			height: 245px
			margin: 0 auto
			box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.11);
			margin-bottom: 20px
			@include bp(1280, min)
				order: 2
				width: 517px
				height: 517px
				margin: 0 0 20px

		.text-holder 
			padding: 10px
			order: 2
			color: $gray 
			font-size: 15px
			@include bp(1280, min)
				order: 1
				width: 577px
				font-size: 16px
				padding-right: 22px

		h2 
			font-size: 22px 
			font-weight: 700
			color: $black
			@include bp(1280, min)
				font-size: 51px

		.slider-pagination 
			display: flex
			justify-content: center
			align-items: center
			.bullet 
				width: 10px
				height: 10px
				border: 1px solid $gray 
				border-radius: 50%
				transition: all .3s ease
				cursor: pointer
				&:not(:last-of-type)
					margin-right: 10px

				&.active 
					border-color: $orange
					background: $orange

		.control-holder
			@include bp(1280, min)
				display: flex
				justify-content: space-between
				padding: 0 45px	

		.btn-holder
			width: 100%
			position: absolute
			z-index: 2
			padding: 0 15px 
			display: flex
			justify-content: space-between
			top: 98px
			left: 0
			@include bp(1280, min)
				width: 150px
				position: static

		.btn 
			width: 30px
			height: 30px
			border-radius: 50% 
			cursor: pointer
			box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10)
			background: $orange
			position: relative
			@include bp(1280, min)
				width: 40px
				height: 40px
			&:before, &:after
				content: ''
				position: absolute
				width: 10px
				border-bottom: 2px solid $white
				transform-origin: right
				right: 12px
				@include bp(1280, min)	
					right: 17px

			&:before
				top: 7px
				transform: rotate(-45deg)
				@include bp(1280, min)	
					top: 12px

			&:after
				bottom: 7px
				transform: rotate(45deg)
				@include bp(1280, min)	
					bottom: 12px

			&.next
				transform: rotate(180deg)
				box-shadow: 0 -6px 20px 0 rgba(0,0,0,0.10)

			&.disabled
				background: $white
				&:before, &:after
					border-color: $gray

	.about-row
		color: $gray
		display: flex
		flex-direction: column 
		align-items: center
		max-width: 600px
		margin: 0 auto 107px
		@include bp(1280, min)
			max-width: none
			margin:  0 0 80px
			flex-direction: row
			justify-content: space-between

		.img-holder
			max-width: 328px
			height: 211px
			border-radius: 31px 
			box-shadow: 19px 30px 20px -12px rgba(0,0,0,0.07)
			margin-bottom: 31px
			display: flex
			align-items: center
			justify-content: center
			@include bp(1280, min)
				width: 555px
				height: 354px
				max-width: none
				border-radius: 65px

			img 
				max-width: 100%	
				height: 100%
				object-fit: cover

		.text-holder 
			@include bp(1280, min)
				margin-right: 105px


		&:nth-child(2n+1)
			@include bp(1280, min)
				flex-direction: row-reverse
			.img-holder
				display: block
				overflow: hidden
				img 
					width: 100%

			.text-holder 
				@include bp(1280, min)
					margin-left: 116px
					margin-right: 0
			
		h3 
			font-size: 22px 
			margin-bottom: 15px
			coor: $black
			font-weight: 600
			@include bp(1280, min)
				font-size: 42px	
				margin-bottom: 37px
		
		.text-holder 
			@include bp(1280, min)
				width: 458px

