<a href="#" class="page-logo">
	@require('../components/logo.html')
</a>
<section class="hero-section" style="background-image: url('./img/Bitmap.jpg')">
	<div class="head">
		<h1>Welcome to SQR scan —</h1>
		<div class="text">
			<p>Home is behind, the world ahead and there are many paths to tread through shadows to the edge.</p>
		</div>
	</div>
	<div class="about-row">
		<div class="about-item">
			<h3>SQRmenu</h3>
			@require('../components/icon-1.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
		<div class="about-item">
			<h3>SQRdelivery</h3>
			@require('../components/icon-2.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
		<div class="about-item">
			<h3>SQRloyalty</h3>
			@require('../components/icon-3.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
	</div>
</section>