<section class="hero-section section" style="background-image: url('./img/Bitmap.jpg')">
	<a href="#" class="logo">
		<img src="./img/logo.svg" alt="">
		<span>SQR SCAN</span>
	</a>
	<div class="head">
		<h1>Welcome to SQR scan —</h1>
		<div class="text">
			<p>Home is behind, the world ahead and there are many paths to tread through shadows to the edge.</p>
		</div>
	</div>
	<div class="about-row">
		<div class="about-item">
			<h4>SQRmenu</h4>
			@require('../components/icon-1.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
		<div class="about-item">
			<h4>SQRdelivery</h4>
			@require('../components/icon-2.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
		<div class="about-item">
			<h4>SQRloyalty</h4>
			@require('../components/icon-3.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
	</div>
</section>

<section class="ui-info section">
	<div class="content">
		<h3>Super Powerful UI Kit with hundreds of amazing designed components.</h3>
		<div class="info-row">
			<div class="info-item">
				<div class="number">
					<span>1</span>
				</div>
				<div class="text">
					<h5>Well Designed
						Components & Templates</h5>
					<p>

						Hundreds of amazing designed components in 1170px grid.
					</p>

				</div>
			</div>
			<div class="info-item">
				<div class="number">
					<span>2</span>
				</div>
				<div class="text">
					<h5>Great Documentation &
							Organized Files</h5>
					<p>All layers are well named & grouped, documentation looks pretty cool also.</p>
				</div>
			</div>
			<div class="info-item">
				<div class="number">
					<span>3</span>
				</div>
				<div class="text">
					<h5>Save Hours of
							Designing & Developing</h5>
					<p>Bunch of components will help you to prototype, design & build much faster.</p>
				</div>
			</div>
			<div class="info-item">
				<div class="number">
					<span>4</span>
				</div>
				<div class="text">
					<h5>Well Designed
						Components & Templates</h5>
					<p>
						Hundreds of amazing designed components in 1170px grid.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="review-section section">
	<div class="content">
		<h2>What our clients are saying?</h2>
		<div class="swiper-container gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<p>Eczema can be a burden. It is a skin condition that can range in severity from dry, red patches on your
						skin to cracked, weeping sores. Eczema is caused by many factors such as genetics and allergic reactions.
						No
						matter the cause of your </p>
				</div>
				<div class="swiper-slide">
					<p>Eczema can be a burden. It is a skin condition that can range in severity from dry, red patches on your
						skin to cracked, weeping sores. Eczema is caused by many factors such as genetics and allergic reactions.
						No
						matter the cause of your </p>
				</div>
				<div class="swiper-slide">
					<p>Eczema can be a burden. It is a skin condition that can range in severity from dry, red patches on your
						skin to cracked, weeping sores. Eczema is caused by many factors such as genetics and allergic reactions.
						No
						matter the cause of your </p>
				</div>
				<div class="swiper-slide">
					<p>Eczema can be a burden. It is a skin condition that can range in severity from dry, red patches on your
						skin to cracked, weeping sores. Eczema is caused by many factors such as genetics and allergic reactions.
						No
						matter the cause of your </p>
				</div>
				<div class="swiper-slide">
					<p>Eczema can be a burden. It is a skin condition that can range in severity from dry, red patches on your
						skin to cracked, weeping sores. Eczema is caused by many factors such as genetics and allergic reactions.
						No
						matter the cause of your </p>
				</div>
			</div>
		</div>
		<div class="sliders-holder">

			<div class="swiper-container gallery-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="img-holder">
							<img src="./img/avatar.jpeg" alt="">
						</div>
						<div class="name">
							<h5>Tristan Olsen</h5>
							<span>CEO Nike Street</span>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-holder">
							<img src="./img/avatar.jpeg" alt="">
						</div>
						<div class="name">
							<h5>Tristan Olsen</h5>
							<span>CEO Nike Street</span>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-holder">
							<img src="./img/avatar.jpeg" alt="">
						</div>
						<div class="name">
							<h5>Tristan Olsen</h5>
							<span>CEO Nike Street</span>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-holder">
							<img src="./img/avatar.jpeg" alt="">
						</div>
						<div class="name">
							<h5>Tristan Olsen</h5>
							<span>CEO Nike Street</span>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-holder">
							<img src="./img/avatar.png" alt="">
						</div>
						<div class="name">
							<h5>Tristan Olsen</h5>
							<span>CEO Nike Street</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn next"></div>
		<div class="btn prev"></div>
	</div>
</section>

<div class="partners section">
	<span>Trusted by over 20,000 customers in over 140 countries</span>
	<div class="partners-row">
		<div class="partners-item">
			<img src="./img/partner-1.svg" alt="img">
		</div>
		<div class="partners-item">
			<img src="./img/partner-2.svg" alt="img">
		</div>
		<div class="partners-item">
			<img src="./img/partner-3.svg" alt="img">
		</div>
		<div class="partners-item">
			<img src="./img/partner-4.svg" alt="img">
		</div>
		<div class="partners-item">
			<img src="./img/partner-5.svg" alt="img">
		</div>
	</div>
</div>

<section class="map-section section">
		<div class="map" style="background-image: url('./img/map.jpg');">
			<div class="address-holder">
				<address>Swiss Tower, Cluster Y,
					JLT, Dubai</address>
				<a href="tel:+971045613751">+971 04 561 3751</a>
				<a href="mailto:info@sqrscan.com">info@sqrscan.com</a>
			</div>
		</div>
		<div class="form-holder">
			<h2>Get in Touch</h2>
			<form>
				<div class="form-row">
					<input type="text" name="name" placeholder="Name">
					<input type="text" name="lastname" placeholder="Last Name">
				</div>
				<input type="text" name="email" placeholder="Email Address">
				<textarea name="message" rows="5" placeholder="Message"></textarea>
				<button type="submit" class="btn-form">Send message</button>
			</form>
		</div>
	</section>