<a href="#" class="page-logo">
	@require('../components/logo.html')
</a>
<section class="hero-section section" style="background-image: url('./img/Bitmap.jpg')">
	<div class="head">
		<h1>Welcome to SQR scan —</h1>
		<div class="text">
			<p>Home is behind, the world ahead and there are many paths to tread through shadows to the edge.</p>
		</div>
	</div>
	<div class="about-row">
		<div class="about-item">
			<h3>SQRmenu</h3>
			@require('../components/icon-1.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
		<div class="about-item">
			<h3>SQRdelivery</h3>
			@require('../components/icon-2.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
		<div class="about-item">
			<h3>SQRloyalty</h3>
			@require('../components/icon-3.html')
			<p>What is your attitude as a small town businessman when it comes to advertising</p>
		</div>
	</div>
</section>

<section class="ui-info section">
	<h2>Super Powerful UI Kit with hundreds of amazing designed components.</h2>
	<div class="info-row">
		<div class="info-item">
			<div class="number">
				<span>1</span>
			</div>
			<div class="text">
				<h4>Well Designed
					Components & Templates</h4>
				<p>

					Hundreds of amazing designed components in 1170px grid.
				</p>

			</div>
		</div>
		<div class="info-item">
			<div class="number">
				<span>1</span>
			</div>
			<div class="text">
				<h4>Well Designed
					Components & Templates</h4>
				<p>

					Hundreds of amazing designed components in 1170px grid.
				</p>

			</div>
		</div>
		<div class="info-item">
			<div class="number">
				<span>1</span>
			</div>
			<div class="text">
				<h4>Well Designed
					Components & Templates</h4>
				<p>

					Hundreds of amazing designed components in 1170px grid.
				</p>

			</div>
		</div>
		<div class="info-item">
			<div class="number">
				<span>1</span>
			</div>
			<div class="text">
				<h4>Well Designed
					Components & Templates</h4>
				<p>
					Hundreds of amazing designed components in 1170px grid.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="review-section section">
	<div class="content">
		<h2>What our clients are saying?</h2>
		<p>Eczema can be a burden. It is a skin condition that can range in severity from dry, red patches on your skin to cracked, weeping sores. Eczema is caused by many factors such as genetics and allergic reactions. No matter the cause of your </p>
		<div class="swiper-container review-gallery">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="img-holder">
						<img src="./img/avatar.png" alt="img">
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>